div,
p,
span,
strong,
h1,
h2,
h3,
h4,
ul,
li,
body,
html,
table {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    width: 21cm;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    background-color: #ececec;
    padding-left: 20px;
}

h1 {
    font-size: 26px;
    line-height: 28px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

h4 {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}


#wrap-print {
    height: auto;
    position: relative;
    top: 0cm;
    left: 0cm;
    width: 20cm;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 30px;
    margin-top: 20px;
    border: 1px solid #d2d2d2;
    /* background-color: aquamarine; */
}

table {
    width: 100%;
}

table td,
table th {
    padding: 5px 0px 5px 0px;
    
    line-height: 16px;
}


table th {
    color: #000000;
    font-size: 11px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

table.tbl-items td,
table.tbl-items th {
    font-size: 11px;
    line-height: 13px;
    padding-left: 5px;
}

table.tbl-items td.lp0,
table.tbl-items th.lp0 {
    padding-left: 0px;
}


table.header .ewtxt {
    padding-right: 10px;
}

table.header td {
    padding: 0px;
}

table td.fittext,
table th.fittext {
    white-space: nowrap;
    width: 1px;
}

table td.small,
table th.small {
    font-size: 10px;
    line-height: 12px;
}

table td.right,
table th.right {
    text-align: right;
}

table td.left,
table th.left {
    text-align: left;
}

table td.center,
table th.center {
    text-align: center;
}

table td.middle,
table th.middle {
    vertical-align: middle;
}

table.tbl-decl {
    font-size: 10px;
    margin-top: 10px;
}

table.tbl-decl td {
    font-size: 9px;
    vertical-align: top;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    ;
    line-height: 10px;
}

table.tbl-decl td td {
    white-space: nowrap;
    width: 1px;
    margin: 0;
    padding: 0;
}

table.tbl-decl td table {
    margin-top: 5px;
}

table.tbl-decl td table td {
    margin: 0px;
    padding: 0px;
    line-height: 10px;
}

table.tbl-decl td p {
    padding-bottom: 5px;
}

table.tbl-decl td ul {
    padding-top: 10px;
}

table.tbl-decl td ul li {
    list-style-type: disc;
    margin: 0px 0px 0px 10px;
}

.dbl-line {
    text-align: center;
    margin: 3px 0px 3px 0px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    height:
        3px;
}

.dot-line {
    margin: 4px 0px 4px 0px;
    height: 1px;
    border-bottom: 1px dotted #000000;
}

.black-line {
    margin: 4px 0px 4px 0px;
    height: 1px;
    border-bottom: 1px solid #000000;
}

img.img-eiew {
    margin-left: 10px;
    border: 1px solid #d2d2d2;
}

.mtl {
    margin-top: 15px;
}

.mt {
    margin-top: 5px;
}
.mb {margin-bottom: 5px;}
.pb0, table td.pb0, table th.pb0{
    padding-bottom: 0;
}

.pl, table td.pl, table th.pl {
    padding-left: 5px;
}
.pr, table td.pr, table th.pr {
    padding-right: 5px;
}
table th.pb, table td.pb{padding-bottom: 5px;}
.pt , table td.pt, table th.pt{
    padding-top: 5px;
}
.pb{padding-bottom: 5px;}
.pb5{padding-bottom: 5px;}
.bb {
    border-bottom: 1px dotted #000000;
}
.bb-line{
    border-bottom: 1px solid #000;
}

.bt {
    border-top: 1px dotted #000000;
}

.bl {
    border-left: 1px dotted #000000;
}

.ecancelled {
    background-image: url("cancelled.png");
    background-position: center;
}
.underline{
    text-decoration: underline;
}
 table.full-border, th.full-border, td.full-border{ border: 1px solid black;
    border-collapse: collapse;}
    .line-width{
    width: 60%;
    display: inline-block;
    border-bottom: 1px solid #000;
    }
@media print {
    .no-break {
        page-break-inside: avoid;
    }

    body {
        padding-right: 0px;
        background: none;
    }

    #wrap-print {
        background-color: #FFFFFF;
        padding: 0px;
        border: none;
        margin-top: 0px;
    }
}